
.App {
	.ui.list {
		.list > .item, > .item {
			display: grid;
			grid-template-columns: 50px 1fr;
			grid-gap: 20px;
			position: relative;
			padding: 10px;
			button.remove {
				position: absolute;
				right: 10px;
				top: 10px;
				display: none;
			}
			&:hover {
				background-color: #f5f5f5;
				button.remove {
					display: inline-grid;
				}
			}

			.ui.label {
				height: 100%;
				display: flex;
				align-items: center;
			}
		}
	}
	.newForm {
		margin-top: 50px;
	}
	.homeContainer {
		margin: 50px 0;
	}
}
.modalConfirm {
	display: flex;
	justify-content: space-between;
}

